main.tex
tex/build/abstract.log
tex/build/header.log
tex/build/theory.log
tex/build/titlepage.log
build/.bbl
build/.blg
build/main.aux
build/main.bbl
build/main.bcf
build/main.blg
build/main.fdb_latexmk
build/main.fls
build/main.log
build/main.out
build/main.run.xml
build/main.synctex.gz
build/main.tdo
build/main.toc
indent.log
tex/theory.tex
.gitignore
outlineImplementation.docx
build/tex/simulations.aux
Formular_Eidesstattliche+Versicherung_neu.pdf
BA_Kock_final.pdf
